<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for b in bk %}
            {{ b.title }},{{ b.author }},{{ b.published_year }},{{ b.genre }}, {{ b.is_available }}
            <a href="{% url 'edit_book' b.id %}">Изменить </a> <a href="{% url 'delete_book' b.id %}">удОлить</a><br>
        {% endfor %}
    </form>
    <a href="{% url 'search' %}">Поиск по жанру</a><br>
    <a href="{% url 'users' %}">Юзеры</a><br>
    <a href="{% url 'rent' %}">Арендовать</a><br>
    <a href="{% url 'add_book' %}">Добавить книгу</a>
</body>
</html>