


{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="floatingInputDisabled">
            <label for="floatingInputDisabled">Задача</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="description" class="form-control" id="floatingInputDisabled">
            <label for="floatingInputDisabled">Описание</label>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Статус задачи</label>
            <input class="form-check-input" name="is_completed" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</body>
{% endblock %}