{% extends 'index.html' %}
{% load static %}

{% block content %}
<body>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" name="title" class="form-control" id="floatingInputDisabled" value="{{ form.title.value }}">
            <label for="floatingInputDisabled">Задача</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="description" class="form-control" id="floatingInputDisabled" value="{{ form.description.value }}">
            <label for="floatingInputDisabled">Задача</label>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Статус задачи</label>
            <input class="form-check-input" name="is_completed" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if form.is_completed.value %} checked {% endif %}>
          </div><br>
        <button type="submit" class="btn btn-primary">изменить</button>
    </form>
</body>
{% endblock %}


<!-- {%if form.is_completed %} checked {% endif %} -->